@{
    ViewBag.Title = "ConfirmEmail";
}


<h2 class="cattitle">Подтверждение регистрации</h2>
<p class="servicemes">Спасибо за регистрацию! Теперь Вы можете @Html.ActionLink("войти на сайт","Login", "Account")</p>

@{Session["OnceSkipUrlReffer"] = 1;}